/* poppins styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

/* main boday */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* banner part */

.banner{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 0;

}
.banner-title{
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
}
.banner-title:hover{
    position: relative;
    animation: text 5s 1;
}
@keyframes text {
    0%{
        color: black;
        margin-bottom: -30px;
    }
    30%{
        letter-spacing: 15px;
        margin-bottom: -30px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -30px;
    }
    
}
#banner-words{
    font-size: 16px;
    font-weight: 400;
    overflow-wrap: break-word;
    margin-left: 85px;
}
.banner-details{
    width: 75%;
    height: 75%;
    display: flex;
    color: white;
    font-size: 700;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.banner-link{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(rgb(133, 10, 10), rgb(173, 4, 4));
    padding: 10px 50px;
    border-radius: 2%;
    color:white;
    margin-top: 20px;
}
.fa-angle-right{
    margin-left: 25px;
}
.banner-image img{
   margin-top: 10px;
  margin-left: 0 70px;
  
}

/* Blog part */
.blogs{
    display: flex;
    

}
.sidebar{
    width: 250px;
    height: 250px;
    background: #161616;
    border-radius: 10px;
    margin-top: 93px;
    margin-left: 0;

    
}
.sidebar li{
    
    list-style: none;
    justify-content: center;
    margin-left: 25px;
    margin-top: 23px;
    font-weight: 500;
}
.sidebar button:hover , .active{
    background: #DD0000;
    border-radius: 10px;
    border: none;
    color: white;
}
.sidebar button{
    padding: 14px 30px;
    border-radius: 10px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
}
#blog-pageindicator{
    background: #DD0000;
    border-radius: 10px;
    border: none;
    color: white;
}
#blog-match{
    background: #DD0000;
    border-radius: 10px;
    border: none;
    color: white;
}
#all-gruop{
    background: #DD0000;
    border-radius: 10px;
    border: none;
    color: white;
}
.all-blogs{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 80px;
    
}
.blog{
    width: 280px;
    height: 350px;
    margin-top: 13px;
    margin-left: 14px;
    border:1px solid rgb(231, 230, 230);
    border-radius: 10px;
    background-color: #FFFFFF;
}

.blog-details button{
    border: 1px solid #161616;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.blog-des{
    color: #161616;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}
.blog-image img{
    width: 100%;
}
.blog-info {
    margin-top: 10px;
}
.blog-info i{
    margin: 20px ;
    
}
.blog-info p{
    text-align:justify;
    margin-left: 10px;
}

/* footer part */

.footer-container{
    width: 100%;
    height: 350px;
    background-color: #161616;
    margin-top: 200px;
}
.footer-title{
    width: 95px;
    height: 60px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    padding: 30px;
    margin-left: 590px;
    justify-content: center;

}

hr{
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
}
.footer-info{
    display: flex;
    margin: 10px 10px;
    padding: 10px;
    justify-content: center;
}
.footer-info li{
    list-style: none;
    color: #B9B9B9;
    margin: 20px;
}
.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.social-link li{
    list-style: none;
    margin: 0 15px;
    font-size: 35px
    
}
.social-link a{
    color: #FFFFFF;
}

/* media Queies */

/* mobile device
 */

 @media  screen and ( max-width:688px ) {

    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
   
       /* Banner */
    .banner , .all-blogs{
        
        grid-template-columns: repeat(1, 1fr);

    }
    .banner-title{
        margin-left: 90px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .banner-details{
        flex-direction: column;
    }
    .banner-link{
        justify-content: center;
        margin-left: 60px;
    }
    .banner-image img{
        width: 100%;
    }
    /* blogs */
     .blogs{
        flex-direction: column;
        
     }
    .sidebar{
        background-color: #FFFFFF;
        align-items: center;
    }
    .sidebar-button{
        margin-left: 10px;
    }

    .footer-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer-title{
        height: 100%;
        width: 100%;
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 600;
        padding: 30px;
        margin-left: 130px;
        justify-content: center;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        margin: 5px 97px;
        padding: 5px;
        font-size: 30px;
        font-weight: 400;
        justify-content: center;
    }
    .footer-info li{
        margin: 10px;
    }
    .social-link{
        margin-bottom: 20px;
    }
 }

 /* Tablet device
  */

  @media only screen and ( min-width: 689px) and ( max-width: 992px) {
    
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .blogs{
        display: flex;
        flex-direction: column;
    }

    .all-blogs{
        
        grid-template-columns: repeat(2, 1fr);

    }
    .sidebar{
        background-color: #FFFFFF;
        align-items: center;
        display: flex;
        flex-direction: row;
        }
        .banner-title{
            
            margin-left: 90px;
            margin-top: 40px;
            margin-bottom: 30px;
        }
        .banner-link{
            justify-content: center;
            margin-left: 80px;
        }
        .banner-image img{
            width: 100%;
            margin-top: 70px;
        }
        #blog-pageindicator{
            background: #DD0000;
            border-radius: 10px;
            border: none;
            color: white;
            padding: 28px 40px;
        }
        .footer-container{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .footer-title{
            height: 100%;
            width: 100%;
            color: #FFFFFF;
            font-size: 40px;
            font-weight: 600;
            padding: 30px;
            margin-left: 350px;
            justify-content: center;
        }
        .social-link{
            margin-bottom: 20px;
        }
        .special-button{
            padding: 20px 40px;
            margin-top: 40px;
            text-align: center;
            
        }
        .special-button button{
            padding: 20px 40px;
            font-size: 20px;
            font-weight: 600;
            color: #FFFFFF;
            background-color: #DD0000;
        }
        .blog-card{
            display: none;
        }
  }

  /* desktop blocking */
@media only screen and (min-width :688px  ) and ( min-width : 993px) 
{
    .special-button {
        display: none;
        }
    
}

/* Mobile device blocking */

@media only screen and (max-width: 687px) {
    .special-button {
        display: none;
        }
    
}