/* poppins styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

/* main boday */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* banner part */

.banner{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 0;

}
.banner-title{
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;

}
#banner-words{
    font-size: 16px;
    font-weight: 400;
    overflow-wrap: break-word;
    margin-left: 85px;
}
.banner-details{
    width: 75%;
    height: 75%;
    display: flex;
    color: white;
    font-size: 700;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.banner-link{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(rgb(133, 10, 10), rgb(173, 4, 4));
    padding: 10px 50px;
    border-radius: 2%;
    color:white;
    margin-top: 20px;
}
.fa-angle-right{
    margin-left: 25px;
}
.banner-image img{
   margin-top: 10px;
  margin-left: 0 70px;
  
}

/* Blog part */
.blogs{
    display: flex;
    

}
.sidebar{
    width: 250px;
    height: 250px;
    background: #161616;
    border-radius: 10px;
    margin-top: 95px;
    margin-left: 0;
    
}
.sidebar li{
    
    list-style: none;
    justify-content: center;
    
    margin-left: 25px;
    margin-top: 23px;
    font-weight: 500;
}
.sidebar button{
    padding: 14px 30px;
    border-radius: 10px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
}
#blog-pageindicator{
    background: #DD0000;
    border-radius: 10px;
    border: none;
    color: white;
}
.all-blogs{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 80px;
    
}
.blog{
    width: 280px;
    height: 350px;
    margin-top: 13px;
    margin-left: 14px;
    border:1px solid rgb(231, 230, 230);
    border-radius: 10px;
    background-color: #FFFFFF;
}

.blog-details button{
    border: 1px solid #161616;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.blog-des{
    color: #161616;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}
.blog-image img{
    width: 100%;
}
.blog-info {
    margin-top: 10px;
}
.blog-info i{
    margin: 20px;
}
/* footer part */

.footer-container{
    width: 100%;
    height: 350px;
    background-color: #161616;
    margin-top: 200px;
}
.footer-title{
    width: 95px;
    height: 60px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    padding: 30px;
    margin-left: 590px;
    

}
hr{
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
}
.footer-info{
    display: flex;
    justify-content:space-evenly;
}
.footer-info li{
    list-style: none;
    color: #B9B9B9;
}
.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.social-link li{
    list-style: none;
    margin: 0 10px;
    font-size: 35px
    
}
.social-link a{
    color: #FFFFFF;
}